body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.notificationsContainer {
    border-color: black;
    border-style: solid;
    display: inline-block;
    float: left;
    padding: 30px 80px;
    margin: 20px;
}

td {
    padding: 5px 70px 5px 5px;
}

.edit {
    padding: 5px 5px 5px 5px;
}